<?xml version="1.0"?>
<robot
	xmlns:xacro="http://www.ros.org/wiki/xacro"
	name="open_base"
>

	<xacro:include filename="$(find open_base)/xacro/rim.urdf.xacro"/>
	  
        <xacro:include filename="$(find hector_sensors_description)/urdf/sonar_sensor.urdf.xacro"/>
        <xacro:property name="sonar_shift" value="0.01"/>
        <xacro:property name="sonar_dist" value="0.08"/>
        <xacro:property name="sonar_h" value="0.075"/>
        <xacro:property name="pi" value="3.14159265359"/> 
       
	<link name="origin_link"/>
	<link name="base_link">

	<inertial>

		<mass value="0.07862944645"/>
		<inertia
			ixx="0.00002035985530754"
			ixy="0"
			ixz="0"
			iyy="0.00002035985530754"
			iyz="0"
			izz="0.00003945961663220"
		/>

	</inertial>
	<visual>

		<geometry>

			<mesh filename="package://open_base/mesh/base.stl"/>
 substitution argument robot

		</geometry>
		<material name="base_material">

			<color rgba="1 1 1 1"/>

		</material>

	</visual>
	<collision>

		<geometry>

			<mesh filename="package://open_base/mesh/base.stl"/>

		</geometry>

	</collision>

	</link>
	<joint
		name="base_joint"
		type="fixed"
	>

		<parent link="origin_link" />
		<child link="base_link" />
		<origin
			xyz="0 0 0.01905"
		/>

	</joint>
	
         
	<xacro:rim_macro
		name="left"
		color="0.3 0 0"
		xyz="-0.03464101615 0.02 0"
		rpy="1.570796326794896 0 1.047197551196597"
	/>
	<xacro:rim_macro
		name="back"
		color="0 0.3 0"
		xyz="0 -0.04 0"
		rpy="1.570796326794896 0 3.141592653589793"
	/>
	<xacro:rim_macro
		name="right"
		color="0 0 0.3"
		xyz="0.03464101615 0.02 0"
		rpy="1.570796326794896 0 -1.047197551196597"
	/>
	<gazebo>

		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">

			<robotNamespace>/open_base</robotNamespace>

		</plugin>

	</gazebo>
	
	
	  <xacro:macro name="sonar" params="sonar_name base_name dx dy dz:=${sonar_h} yaw:=0 array_no:=0">
    <xacro:sonar_sensor name='${sonar_name}_sonar' parent='${base_name}' ros_topic='${sonar_name}_sonar' update_rate='5' min_range='0.1' max_range='.8' field_of_view='.1' ray_count='1'>
      <!-- <origin xyz='${dx} ${dy} ${sonar_h}' rpy='0 0 ${yaw}'/> -->
      <origin xyz='${dx} ${dy} ${dz}' rpy='0 0 ${yaw}'/>
    </xacro:sonar_sensor>
  </xacro:macro>
  
  <!--xacro:sonar sonar_name="left_rf" base_name="body_link" dx="${-0.01+sonar_shift}" dy="${sonar_dist}"  array_no="6"/-->
  <!--xacro:sonar sonar_name="right_rf" base_name="body_link" dx="${-0.01+sonar_shift}" dy="${-sonar_dist}"  array_no="7"/-->
  
   <xacro:sonar sonar_name="one" base_name="base_link" dx="0 " dy="-0.04" dz="0.035" yaw="${3*pi/2}" array_no="1"/>
  <xacro:sonar sonar_name="two" base_name="base_link" dx="-0.03464101615 " dy="0.02" dz="0.035" yaw="${5*pi/6}" array_no="2"/>
    <xacro:sonar sonar_name="three" base_name="base_link" dx="0.03464101615 " dy="0.02" dz="0.035" yaw="${pi/6}" array_no="3"/>

	
  <xacro:sonar sonar_name="for" base_name="base_link" dx="-0.03464101615 " dy="-0.02" dz="0.035" yaw="${pi/6+pi}" array_no="4"/>
  <xacro:sonar sonar_name="five" base_name="base_link" dx="0 " dy="0.04" dz="0.035" yaw="${3*pi/2+pi}" array_no="5"/>
    <xacro:sonar sonar_name="six" base_name="base_link" dx="0.03464101615 " dy="-0.02" dz="0.035" yaw="${5*pi/6+pi}" array_no="6"/>
	
	
	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	

</robot>
